---
import Layout from '@layouts/Layout.astro';
import Slider from '@components/slider/Slider.astro';
import SliderItem from '@components/slider/SliderItem.astro';
import { Image } from 'astro:assets';
import { SmileyNervous } from '@phosphor-icons/react';
import Grid from '@components/Grid.astro';
import GridBox from '@components/GridBox.astro';
import Headline from '@components/Headline.astro';

import RobinCamera from '@assets/images/robin-camera.png';
import SectionContent from '@components/SectionContent.astro';
import { createDayArray, formatIndexNumber, getDayOfYear } from 'src/utils/365-helpers';

interface PhotoModule {
    default: ImageMetadata;
}

const photos: PhotoModule[] = Object.values(
    import.meta.glob('../../../src/assets/365/*', { eager: true })
);

const today = new Date();
const days = createDayArray(getDayOfYear(today));

const photosByDate = photos.reduce((acc: Record<string, PhotoModule>, photo: PhotoModule) => {
    try {
        // Extract date from the src path instead of default
        const filename = photo.default.src.split('/').pop() || '';
        const date = filename.split('_')[0];

        if (date) {
            acc[date] = photo;
        }

        return acc;
    } catch (error) {
        console.error('Error processing photo:', photo, error);
        return acc;
    }
}, {});
---

<Layout title="365">
    <div
        class="flex flex-col justify-center pb-16 pt-32 lg:py-40"
        style="min-height: calc(100vh - 120px)"
    >
        <SectionContent classes="w-full" title="365 project">
            I’m capturing and sharing one photo each day for a year.<br />Enjoy exploring my visual
            journey and: wish me endurance.
        </SectionContent>
        <Slider classes="xl:mt-12">
            {
                days.map((date, index) => (
                    <SliderItem size="medium" classes="relative mt-2">
                        <a href={`365/${date}`} class="h-full w-full">
                            <figure class="h-full w-full">
                                {photosByDate[date] ? (
                                    <Image
                                        src={photosByDate[date].default}
                                        alt={`Photo from ${date}`}
                                        widths={[640]}
                                        sizes={`320px`}
                                        class="bg-neutral-100"
                                    />
                                ) : (
                                    <div class="flex h-[calc(100%-45px)] w-full items-center justify-center self-start border-2 border-dashed border-black-200 text-center text-black-400">
                                        <div class=" flex flex-col items-center gap-2">
                                            <SmileyNervous
                                                weight="regular"
                                                size={40}
                                                color="rgba(0,0,0,0.2)"
                                            />
                                            <p>
                                                No photo
                                                <br />
                                                uploaded yet
                                            </p>
                                        </div>
                                    </div>
                                )}
                                <figcaption
                                    class={`mt-2 flex items-center gap-3 font-mono text-xs ${
                                        photosByDate[date] === undefined ? 'text-black-400' : ''
                                    }`}
                                >
                                    <span class="text-md font-bold">
                                        {formatIndexNumber(index, photos.length)}
                                    </span>
                                    <span>–</span>
                                    <span>{date}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </SliderItem>
                ))
            }
            <SliderItem emptyEnd />
        </Slider>
    </div>
    <div class="pb-40">
        <Grid>
            <GridBox
                desktopStart={3}
                desktopEnd={7}
                tabletStart={1}
                tabletEnd={4}
                classes="flex flex-col justify-center"
            >
                <Headline level={3}>But why?</Headline>
                <p class="mt-6">
                    We all know the impulse to want to change something at the beginning of the
                    year, and this is mine: My main goal with this project is to confront my
                    unhealthy perfectionism. By committing to share one photo each day for a year, I
                    aim to learn how to embrace and share work that isn’t perfect. It’s about
                    letting go of the need for everything to be flawless and finding beauty in the
                    process of creation. Join me on this journey as I grow and challenge myself!
                </p>
            </GridBox>
            <GridBox
                desktopStart={9}
                desktopEnd={11}
                tabletStart={6}
                tabletEnd={8}
                mobileStart={1}
                mobileEnd={3}
                classes="flex items-center justify-end md:justify-start mt-12 md:mt-0"
            >
                <Image
                    src={RobinCamera}
                    alt="Illustration of me walking with a camera"
                    widths={[640]}
                    sizes={`320px`}
                    class="max-w-[180px]"
                />
            </GridBox>
        </Grid>
    </div>
</Layout>
