---
import { colors } from "./utils/colors";
import type { Note } from "@api/github-notes";

interface Props {
    note: Note;
    categoryIndex?: number;
    distorted?: boolean;
    classes?: string;
}

const { note, categoryIndex = 0, distorted, classes } = Astro.props;

const backgroundColor = colors[categoryIndex % colors.length];
const backgroundColorStyle = `background-color: ${backgroundColor};`;

const randomMarginBottom = Math.floor(Math.random() * 8);
const randomMarginRight = Math.floor(Math.random() * 8);
const randomRotation = Math.floor(Math.random() * 4 - 2);

const transformStyles = distorted
    ? `transform: translateY(${randomMarginBottom}px) translateX(${randomMarginRight}px) rotate(${randomRotation}deg);`
    : `transform: rotate(${randomRotation}deg);`;
---

<div
    class:list={["group block h-full min-h-[280px] items-center", classes]}
    style={transformStyles}
    data-rotation={randomRotation}
>
    <div
        class="corner-shadow-effect hover:before:opacity-0 before:transition-all before:duration-300"
    >
        <a
            href={`/garden/${note.thema.toLowerCase()}/${note.slug}`}
            class="hover-lift relative block p-2 no-underline"
            style={backgroundColorStyle}
        >
            <div
                class="flex h-full flex-col justify-between border p-3 font-mono gap-2"
            >
                <span
                    class="text-xs font-mono uppercase tracking-wide opacity-70"
                >
                    {note.thema}
                </span>
                <h3 class="text-base font-bold leading-tight text-black">
                    {note.title}
                </h3>
                <p class="text-md text-black/70 line-clamp-3 font-decorative">
                    {note.description}
                </p>
            </div>
        </a>
    </div>
</div>
