---
import { projects } from 'src/content/projects';
import Grid from './Grid.astro';
import GridBox from './GridBox.astro';
import Headline from './Headline.astro';
import Slider from './slider/Slider.astro';
import SliderItem from './slider/SliderItem.astro';
import ProjectItem from './ProjectItem.astro';
import SectionContent from './SectionContent.astro';
---

<div>
    <SectionContent
        title="Side Projects"
        description=" Like most of us – I have lot of ideas and projects that I would like to implement. Many of them get lost in my notes or as random thoughts on my computer. But can you believe it? Some of them actually happen."
    />
    <Slider>
        {
            projects.map((project, index) => (
                <SliderItem classes="py-3" size="medium">
                    <ProjectItem
                        bgColor={project.bgColor}
                        href={project.href}
                        title={project.title}
                        labels={project.labels}
                        year={project.year}
                        logo={project.logo}
                        logoWidth={project.logoWidth}
                        customOpenString={project.customOpenString}
                    />
                </SliderItem>
            ))
        }
        <!-- <SliderItem>
            <div class="aspect-square w-full rounded-xl border border-dashed border-neutral-400">
                Enough fun side projects – explore what I do for a living
            </div>
        </SliderItem> -->
        <SliderItem emptyEnd />
    </Slider>
</div>
