---
interface Props {
    tags: {
        name: string;
        count: number;
        flag?: string;
    }[];
    selectedTag?: string;
    basePath: string;
    filterPath: string;
    filterLabel: string;
    total?: number;
}

const { tags, selectedTag, basePath, filterPath, filterLabel, total } =
    Astro.props;

// Sort tags by count (most frequent first)
const sortedTags = [...tags].sort((a, b) => b.count - a.count);
---

<details
    open
    class="group mb-12 p-4 bg-surface border border-foreground/50 rounded-lg"
>
    <summary
        class="flex items-center justify-between -m-2 p-4 font-medium cursor-pointer select-none focus:outline-none focus-visible:outline-2 focus-visible:outline-blue focus-visible:outline-offset-2"
        aria-label="Toggle tag filter"
    >
        <div class="font-mono text-xs uppercase tracking-widest">
            Filter by {filterLabel}
            {
                selectedTag && (
                    <span class="inline group-open:hidden">
                        / ({selectedTag})
                    </span>
                )
            }
        </div>
        <div class="transition-transform duration-300 group-open:rotate-180">
            <!-- <CaretDown weight="bold" size={20} /> -->
        </div>
    </summary>

    <div class="mt-4 pt-2">
        <div class="flex flex-wrap gap-2">
            <a
                href={`${basePath}`}
                class:list={[
                    "flex items-center px-3 py-1 font-mono text-xs rounded-full border transition-all duration-200 no-underline",
                    !selectedTag
                        ? "border-blue bg-blue text-surface hover:border-blue hover:text-surface"
                        : "border-border bg-surface text-current hover:border-blue hover:text-blue",
                ]}
            >
                <span>all</span>
                {
                    total && (
                        <span
                            class:list={[
                                "ml-1",
                                !selectedTag
                                    ? "text-surface/70"
                                    : "text-text-muted",
                            ]}
                        >
                            ({total})
                        </span>
                    )
                }
            </a>
            {
                sortedTags.map((tag) => (
                    <a
                        href={`${basePath}/${filterPath}/${tag.name}`}
                        class:list={[
                            "flex items-center px-3 py-1 font-mono text-xs rounded-full border transition-all duration-200 no-underline",
                            selectedTag === tag.name
                                ? "border-blue bg-blue text-surface hover:border-blue hover:text-surface"
                                : "border-border bg-surface text-current hover:border-blue hover:text-blue",
                        ]}
                    >
                        {tag.flag && <span class="mr-1">{tag.flag}</span>}
                        {tag.name}
                        <span
                            class:list={[
                                "ml-1",
                                selectedTag === tag.name
                                    ? "text-surface/70"
                                    : "text-text-muted",
                            ]}
                        >
                            ({tag.count})
                        </span>
                    </a>
                ))
            }
        </div>
    </div>
</details>
