---
export interface Props {
    label?: string;
    id?: string;
    checked?: boolean;
    classList?: string;
}

const { label = 'Default toggle', id = '', checked = false, classList = '' } = Astro.props;
---

<div class={`inline-flex items-center cursor-pointer ${classList}`}>
    <label for={id} class="flex items-center cursor-pointer">
        <input type="checkbox" id={id} checked={checked} class="sr-only peer" />
        <div
            class="relative w-11 h-6 bg-neutral-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-light rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-neutral-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-black"
        >
        </div>
        <span class="ms-3 text-xs font-medium text-neutral-800">{label}</span>
    </label>
</div>
