---
import "@blossom-carousel/core/style.css";
import Link from "@components/Link.astro";
import HeadlineParagraphSection from "@components/HeadlineParagraphSection.astro";

interface Props {
    columns?: number;
    gap?: string;
    headline?: string;
    description?: string;
    link?: { href: string; text: string; external?: boolean };
    headlineSize?: "base" | "md" | "lg" | "xl";
}

const {
    columns = 12,
    gap = "16px",
    headline,
    description,
    link,
    headlineSize,
} = Astro.props;
---

<section
    class="carousel-section flex flex-col"
    style={`--columns: ${columns}; --gap: ${gap}; gap: var(--gap);`}
>
    {
        (headline || description) && (
            <HeadlineParagraphSection
                title={headline}
                headlineSize={headlineSize}
            >
                {description}
            </HeadlineParagraphSection>
        )
    }

    <blossom-carousel class="carousel">
        <slot />
    </blossom-carousel>

    {
        link && (
            <div class="max-w-(--max-width) mx-auto w-full flex justify-end">
                <Link href={link.href} standalone external={link.external}>
                    {link.text}
                </Link>
            </div>
        )
    }
</section>

<script>
    import { BlossomCarousel } from "@blossom-carousel/web";
</script>

<style>
    .carousel-section :global(.carousel) {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc(
            (var(--max-width) - (var(--columns) - 1) * var(--gap)) /
                var(--columns)
        );
        gap: var(--gap);
        padding-inline: max(0px, calc((100vw - var(--max-width)) / 2));
        scroll-padding-inline-start: max(
            0px,
            calc((100vw - var(--max-width)) / 2)
        );
    }

    @media (min-width: 769px) and (max-width: 1088px) {
        .carousel-section :global(.carousel) {
            grid-auto-columns: calc(
                (100vw - (var(--columns) - 1) * var(--gap) - 64px) /
                    var(--columns)
            );
            padding-inline: 32px;
            scroll-padding-inline-start: 32px;
        }
    }

    @media (max-width: 768px) {
        .carousel-section :global(.carousel) {
            grid-auto-columns: calc(
                (100vw - (var(--columns) - 1) * var(--gap) - 32px) /
                    var(--columns)
            );
            padding-inline: 16px;
            scroll-padding-inline-start: 16px;
        }
    }
</style>
