---
import NotesOverview from '@components/garden/NotesOverview';
import GardenBreadcrumb from '@components/GardenBreadcrumb.astro';
import Link from '@components/Link.astro';
import GardenLayout from '@layouts/GardenLayout.astro';
import { getObsidianGardenCategories, getAllObsidianGardenEntries } from 'src/api/github';

export async function getStaticPaths() {
    const obsidianCategories = await getObsidianGardenCategories();
    const paths: string[] = obsidianCategories.map((entry: any) => entry.name);
    return paths.map((path) => ({ params: { path } }));
}

const { path } = Astro.params;

const obsidianCategories = await getObsidianGardenCategories();
const lastCreatedObsidianEntries = await getAllObsidianGardenEntries(path, '', 'created');
const lastEditedObsidianEntries = await getAllObsidianGardenEntries(path, '', 'edited');
---

<GardenLayout title={`Garden | ${path}`} categories={obsidianCategories} path={path}>
    <div class="flex flex-col px-2 pt-4 md:px-4 lg:pl-8 lg:pt-16 xl:pl-0">
        <div class="hidden items-center justify-between lg:flex">
            <GardenBreadcrumb path={path} />
            <Link href="/garden">Back to Home</Link>
        </div>
        <div class="mt-4 lg:mt-16">
            <NotesOverview
                latestCreatedNotes={lastCreatedObsidianEntries}
                latestEditedNotes={lastEditedObsidianEntries}
                basePath="/garden"
                client:load
            />
        </div>
    </div>
</GardenLayout>
