---
import Container from '@components/Container';
import NotesOverview from '@components/garden/NotesOverview';
import GardenBreadcrumb from '@components/GardenBreadcrumb.astro';
import Link from '@components/Link.astro';
import GardenLayout from '@layouts/GardenLayout.astro';
import Layout from '@layouts/Layout.astro';
import { getObsidianGardenCategories, getAllObsidianGardenEntries } from 'src/api/github';

export async function getStaticPaths() {
    const obsidianCategories = await getObsidianGardenCategories();
    const paths: string[] = obsidianCategories.map((entry: any) => entry.name);
    return paths.map((path) => ({ params: { path } }));
}

const { path } = Astro.params;

const obsidianCategories = await getObsidianGardenCategories();
const lastCreatedObsidianEntries = await getAllObsidianGardenEntries(path, '', 'created');
const lastEditedObsidianEntries = await getAllObsidianGardenEntries(path, '', 'edited');
---

<!-- <GardenLayout title={`Garden | ${path}`} categories={obsidianCategories} path={path}></GardenLayout> -->
<Layout title={`Garden | ${path}`}>
    <div class="flex flex-col px-2 pt-4 lg:pt-16 pb-24">
        <Container classes="w-full items-center justify-between flex">
            <GardenBreadcrumb path={path} />
            <Link href="/garden">Back to Home</Link>
        </Container>
        <div class="mt-4 lg:mt-16">
            <NotesOverview
                latestCreatedNotes={lastCreatedObsidianEntries}
                latestEditedNotes={lastEditedObsidianEntries}
                basePath="/garden"
                client:load
            />
        </div>
    </div>
</Layout>
